@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
.nav {
  padding-top: 2px;
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 120px;
  height: 120px;
  margin-left: 3em;
}

.logo input {
  border-radius: 16px;
  outline: none;
  border: 1px solid #ccc;
  padding: 0.8em 3em;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
}

.links li button {
  outline: none;
  padding: 0.4em 2.5em;
  border: none;
  font-family: 'Lato', sans-serif;
}

.login-btn {
  margin-right: 3em;
  border: none;
  background-color: #f9e9ec;
}

.register-btn {
  margin-right: 3em;
  background: #456488;
  border: 1px solid black;
}
.nav-icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav-icon {
    display: block;

    margin-top: 3em;
    margin-right: 1em;
  }
  #show-menu {
    display: block;
    position: absolute;
    top: 5em;
    background: #000;
    z-index: 2;
    margin-top: 3em;
    width: 100%;
  }

  #show-menu li {
    margin-top: 1em;
  }

  #show-menu .register-btn {
    margin-bottom: 2.5em;
    padding: 0.5em 0.5em;
  }
  #hide-menu {
    display: none;
  }
  .logo input {
    display: none;
  }
}
